
<table>
  <tr *ngFor="let todo of todos ">
    <td>{{todo.todo_item}}</td>

    <td><button mat-mini-fab color="warn" (click)="onDelete(todo.id)"> <mat-icon>delete</mat-icon></button>
    </td>
  </tr>
</table>
<br><br>

<form class="form" [formGroup]="addItem" (ngSubmit)="addNewItem()">

  <div class="form-group">
    <mat-form-field class="mat-form-field">
      <mat-label>Add New Item</mat-label>
      <input matInput type="text" formControlName="addNewItem" class="form-control" />
    </mat-form-field>

  </div>

  <button mat-raised-button color="warn">Add</button>
</form>
