
<form
  [formGroup] = "loginForm"
  (ngSubmit)="onSubmit()">

  <ul>
    <li>
      <mat-form-field class="mat-form-field">
        <mat-label>username</mat-label>
        <input matInput placeholder="username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">

        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>

      </mat-form-field>
    </li>
    <li>
      <mat-form-field class="mat-form-field">
        <mat-label>password</mat-label>
        <input matInput placeholder="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </mat-form-field>
    </li>
    <button mat-button [disabled]="!loginForm.valid">login</button>
<p class="error" *ngIf="!isSuccessful">login not successful</p>
  </ul>

</form>

<div>
  <button class="button" routerLink="app-signup" routerLinkActive="active"  mat-raised-button type="submit">Sign Up</button>
</div>


